<div class="sit-tristate-checkbox">
    <div class="label label-property-grid-control-readonly checkbox-noborder" ng-if="checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled">
        <ng-form name="checkboxForm" ng-class="{'isrequired' : (checkboxCtrl.validation.required) && (checkboxForm.$error.required.length===checkboxCtrl.value.length) }">
            <div class="property-grid-span-group-block">
                <div class="group-control property-grid-no-border-items" ng-repeat="item in checkboxCtrl.value" ng-class="checkboxCtrl.layout === 'horizontal' ? 'horizontal-layout':'vertical-layout'">
                    <div class="check-box" ng-class="!(checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled) ? 'checkbox-enabled' : 'checkbox-disabled'">
                        <label>
                            <input type='button'
                                   name='{{item.label}}'
                                   ng-class="{'un-checked': item.checked === false || item.checked === undefined, 'checked': item.checked == true, 'indeterminate': item.checked === 'null'}"
                                   ng-model='item.checked'
                                   ng-blur="checkboxCtrl.ngBlur()"
                                   sit-change="checkboxCtrl.sitChange"
                                   ng-disabled="true"
                                   ng-focus="checkboxCtrl.ngFocus()"
                                   ng-required="checkboxCtrl.validation.required"
                                   sit-form-input-validator />
                            <span class="tri-state property-label-ellipsis">
                                <span class="check"></span>
                                {{item.label}}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
    <ng-form ng-if="!(checkboxCtrl.readOnly || checkboxCtrl.ngReadonly || checkboxCtrl.ngDisabled)"
             name="checkboxForm" ng-class="{'isrequired' : (checkboxCtrl.validation.required) && (checkboxForm.$error.required.length===checkboxCtrl.value.length) }">
        <div class="property-grid-span-group-block validator-control checkbox-noborder" ng-model="checkboxCtrl.value">
            <div class="group-control" ng-repeat="item in checkboxCtrl.value" ng-class="checkboxCtrl.layout === 'horizontal' ? 'horizontal-layout':'vertical-layout'">
                <div class="check-box" ng-class="!checkboxCtrl.ngDisabled ? 'checkbox-enabled' : 'checkbox-disabled'">
                    <label>
                        <input type='button'
                               name='{{item.label}}'
                               ng-click="checkboxCtrl.updateState($index, item.checked)"
                               ng-class="{'un-checked': item.checked === false || item.checked === undefined, 'checked': item.checked == true, 'indeterminate': item.checked === 'null'}"
                               ng-model='item.checked'
                               ng-blur="checkboxCtrl.ngBlur()"
                               sit-change="checkboxCtrl.sitChange"
                               ng-disabled="checkboxCtrl.ngDisabled"
                               ng-focus="checkboxCtrl.ngFocus()"
                               ng-required="checkboxCtrl.validation.required"
                               sit-form-input-validator />
                        <span class="tri-state property-label-ellipsis">
                            <span class="check"></span>
                            {{item.label}}
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </ng-form>
</div>
